.signin {
    width: 60%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.signin__form {
    display: flex;
    flex-direction: column;
    width: 60%;
}

.signin__title {
    font-size: 40px;
    line-height: 23px;
    margin: 0;
    margin-bottom: 50px;
}

.signin__input {
    border: 1px solid #312E2E;
    border-radius: 10px;
    background: transparent;
    padding: 15px 30px;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 20px;
}

.signin__input::placeholder {
    color: rgba(49, 46, 46, 0.6);
}

.signin__btn {
    background: #A1D9F1;
    border: none;
    padding: 15px;
    border-radius: 10px;
    cursor: pointer;
    color: #312E2E;font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    width: 150px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.signin__btn-close {
    border: none;
    background: transparent;
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 20px;
}

.signin--hidden {
    top: -100%;
}

.signin__info-err {
    color:rgba(241, 82, 82);
    text-align: center;
}

.signin__link {
    color: #312E2E;
}