.card-editor {
    position: fixed;
    z-index: 15;
    top: 160px;
    right: -530px;
    background: #FDF8F8;
    box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    padding: 30px;
    height: 100%;
    border-radius: 10px 0 0 0;
    transition: right 0.5s ease;
    min-width: 200px;
    max-width: 400px;
}

.card-editor--visible {
    right: 0;
}

.card-editor__input {
    padding: 0;
    border: none;
    font-size: 20px;
    padding: 10px 20px;
    background: #FDF8F8;
    outline: none;
    width: 90%;
    word-wrap: break-word;
    white-space: pre-line;

}

.card-editor__color {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
}

.card-editor__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
    width: 100%;
}

.card-editor__form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.card-editor__button, 
.card-editor__btn-del {
    border: 1px solid #312E2E;
    border-radius: 10px;
    background: transparent;
    padding: 15px 30px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 20px;
    cursor: pointer;
}

.card-editor__btn-del {
    border: 1px solid #f18080;
}

.card-editor__close-btn {
    position: absolute;
    right: 10px;
    top: 10px;
    background: transparent;
    border: none;
    cursor: pointer;
}
