.card {
    border-radius: 14px;
    cursor: pointer;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card:hover .card__handle-l,
.card:hover .card__handle-r {
    opacity: 1 !important;
}

.card-calendar {
    z-index: 12;
}

.card__title {
    padding: 0 10px;

    font-weight: 700;
    font-size: 16px;
    line-height: 18px;

    color: #1E1E1E;

    text-align: left;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.card__handle-l,
.card__handle-r {
    transition: opacity 0.2s;
    width: 10px;
    height: 70%;
    background-color: #FFFBFB;
    display: block;
    position: absolute;
    cursor: move;
    border-radius: 10px;
}
.card__handle-l {
    left: 5px;
}
.card__handle-r {
    right: 5px;
}


.card__button-remind {
    width: 18px;
    height: 24px;
    padding: 0;
    margin: 0;
    margin-left: auto;
    margin-right: 30px;
    border: none;
    background: transparent;
    background-image: url("../../../public/icons/remind.svg");
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
}

.card__button-remind--clicked {
    background-image: url("../../../public/icons/remind-clicked.svg");
}