.calendar {
    overflow: auto;
    position: relative;
}

.calendar__top-panel {
    display: flex;
    position: relative;
    padding-left: 60px;
}

.calendar__left-panel {
    position: sticky;
    left: 0;
    z-index: 10;
    width: 60px;
}

.calendar__dates {
    display: flex;
    position: absolute;
    padding-left: 60px;
    top: 60px;
    left: -1px;
}

.calendar__dates:last-child .calendar__date-pick {
    border-bottom: 1px solid #DAD0D0;
    height: 58px;
}

.calendar__date-pick {
    width: 59px;
    height: 59px;
    border: 1px solid #DAD0D0;
    flex-shrink: 0;
    border-right: 0;
    border-bottom: 0;
    cursor: pointer;
}

.calendar__date-pick:last-child {
    border-right: 1px solid #DAD0D0;
}

.calendar__month-name {
    position: absolute;
    font-weight: 300;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 0.02em;
    color: #1E1E1E;
    top: 5px;
    left: 67px;
}

.calendar__date, 
.calendar__time {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    color: #1E1E1E;
    flex-shrink: 0;
}

.calendar__time {
    height: 59px;
    width: 59px;
    background-color: #DAD0D0;
    border-top: 1px solid #1E1E1E;
    border-right: 1px solid #1E1E1E;
}  

.calendar__time:last-child {
    border-bottom: 1px solid #1E1E1E;
    height: 58px;
}
