body {
    background-color: #FFFBFB;
    margin: 0;
    font-family: 'Helvetica';
    color: #312E2E;
    min-width: 280px;
}

input {
    outline: none;
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}
